// Container behavior
.flex { display: flex; }
@media (min-width: #{$breakpoint-sm}) { .sm-flex { display: flex !important; } }
@media (min-width: #{$breakpoint-md}) { .md-flex { display: flex !important; } }
@media (min-width: #{$breakpoint-lg}) { .lg-flex { display: flex !important; } }
@media (min-width: #{$breakpoint-xl}) { .xl-flex { display: flex !important; } }

.flex-row { flex-direction: row; }
@media (min-width: #{$breakpoint-sm}) { .sm-flex-row { flex-direction: row !important; } }
@media (min-width: #{$breakpoint-md}) { .md-flex-row { flex-direction: row !important; } }
@media (min-width: #{$breakpoint-lg}) { .lg-flex-row { flex-direction: row !important; } }
@media (min-width: #{$breakpoint-xl}) { .xl-flex-row { flex-direction: row !important; } }

.flex-column { flex-direction: column; }
@media (min-width: #{$breakpoint-sm}) { .sm-flex-column { flex-direction: column !important; } }
@media (min-width: #{$breakpoint-md}) { .md-flex-column { flex-direction: column !important; } }
@media (min-width: #{$breakpoint-lg}) { .lg-flex-column { flex-direction: column !important; } }
@media (min-width: #{$breakpoint-xl}) { .xl-flex-column { flex-direction: column !important; } }


// Vertical child alignment
.flex-stretch { align-items: stretch; }
@media (min-width: #{$breakpoint-sm}) { .sm-flex-stretch { align-items: stretch !important; } }
@media (min-width: #{$breakpoint-md}) { .md-flex-stretch { align-items: stretch !important; } }
@media (min-width: #{$breakpoint-lg}) { .lg-flex-stretch { align-items: stretch !important; } }
@media (min-width: #{$breakpoint-xl}) { .xl-flex-stretch { align-items: stretch !important; } }

.flex-start { align-items: flex-start; }
@media (min-width: #{$breakpoint-sm}) { .sm-flex-start { align-items: flex-start !important; } }
@media (min-width: #{$breakpoint-md}) { .md-flex-start { align-items: flex-start !important; } }
@media (min-width: #{$breakpoint-lg}) { .lg-flex-start { align-items: flex-start !important; } }
@media (min-width: #{$breakpoint-xl}) { .xl-flex-start { align-items: flex-start !important; } }

.flex-end { align-items: flex-end; }
@media (min-width: #{$breakpoint-sm}) { .sm-flex-end { align-items: flex-end !important; } }
@media (min-width: #{$breakpoint-md}) { .md-flex-end { align-items: flex-end !important; } }
@media (min-width: #{$breakpoint-lg}) { .lg-flex-end { align-items: flex-end !important; } }
@media (min-width: #{$breakpoint-xl}) { .xl-flex-end { align-items: flex-end !important; } }

.flex-center { align-items: center; }
@media (min-width: #{$breakpoint-sm}) { .sm-flex-center { align-items: center !important; } }
@media (min-width: #{$breakpoint-md}) { .md-flex-center { align-items: center !important; } }
@media (min-width: #{$breakpoint-lg}) { .lg-flex-center { align-items: center !important; } }
@media (min-width: #{$breakpoint-xl}) { .xl-flex-center { align-items: center !important; } }

.flex-baseline { align-items: baseline; }
@media (min-width: #{$breakpoint-sm}) { .sm-flex-baseline { align-items: baseline !important; } }
@media (min-width: #{$breakpoint-md}) { .md-flex-baseline { align-items: baseline !important; } }
@media (min-width: #{$breakpoint-lg}) { .lg-flex-baseline { align-items: baseline !important; } }
@media (min-width: #{$breakpoint-xl}) { .xl-flex-baseline { align-items: baseline !important; } }


// Horizontal child alignment
.flex-justify-start { justify-content: flex-start; }
@media (min-width: #{$breakpoint-sm}) { .sm-flex-justify-start { justify-content: flex-start !important; } }
@media (min-width: #{$breakpoint-md}) { .md-flex-justify-start { justify-content: flex-start !important; } }
@media (min-width: #{$breakpoint-lg}) { .lg-flex-justify-start { justify-content: flex-start !important; } }
@media (min-width: #{$breakpoint-xl}) { .xl-flex-justify-start { justify-content: flex-start !important; } }

.flex-justify-end { justify-content: flex-end; }
@media (min-width: #{$breakpoint-sm}) { .sm-flex-justify-end { justify-content: flex-end !important; } }
@media (min-width: #{$breakpoint-md}) { .md-flex-justify-end { justify-content: flex-end !important; } }
@media (min-width: #{$breakpoint-lg}) { .lg-flex-justify-end { justify-content: flex-end !important; } }
@media (min-width: #{$breakpoint-xl}) { .xl-flex-justify-end { justify-content: flex-end !important; } }

.flex-justify-center { justify-content: center; }
@media (min-width: #{$breakpoint-sm}) { .sm-flex-justify-center { justify-content: center !important; } }
@media (min-width: #{$breakpoint-md}) { .md-flex-justify-center { justify-content: center !important; } }
@media (min-width: #{$breakpoint-lg}) { .lg-flex-justify-center { justify-content: center !important; } }
@media (min-width: #{$breakpoint-xl}) { .xl-flex-justify-center { justify-content: center !important; } }

.flex-justify-between { justify-content: space-between; }
@media (min-width: #{$breakpoint-sm}) { .sm-flex-justify-between { justify-content: space-between !important; } }
@media (min-width: #{$breakpoint-md}) { .md-flex-justify-between { justify-content: space-between !important; } }
@media (min-width: #{$breakpoint-lg}) { .lg-flex-justify-between { justify-content: space-between !important; } }
@media (min-width: #{$breakpoint-xl}) { .xl-flex-justify-between { justify-content: space-between !important; } }

.flex-justify-around { justify-content: space-around; }
@media (min-width: #{$breakpoint-sm}) { .sm-flex-justify-around { justify-content: space-around !important; } }
@media (min-width: #{$breakpoint-md}) { .md-flex-justify-around { justify-content: space-around !important; } }
@media (min-width: #{$breakpoint-lg}) { .lg-flex-justify-around { justify-content: space-around !important; } }
@media (min-width: #{$breakpoint-xl}) { .xl-flex-justify-around { justify-content: space-around !important; } }


// Wrapping
.flex-wrap { flex-wrap: wrap; }
@media (min-width: #{$breakpoint-sm}) { .sm-flex-wrap { flex-wrap: wrap !important; } }
@media (min-width: #{$breakpoint-md}) { .md-flex-wrap { flex-wrap: wrap !important; } }
@media (min-width: #{$breakpoint-lg}) { .lg-flex-wrap { flex-wrap: wrap !important; } }
@media (min-width: #{$breakpoint-xl}) { .xl-flex-wrap { flex-wrap: wrap !important; } }

.flex-nowrap { flex-wrap: nowrap; }
@media (min-width: #{$breakpoint-sm}) { .sm-flex-nowrap { flex-wrap: nowrap !important; } }
@media (min-width: #{$breakpoint-md}) { .md-flex-nowrap { flex-wrap: nowrap !important; } }
@media (min-width: #{$breakpoint-lg}) { .lg-flex-nowrap { flex-wrap: nowrap !important; } }
@media (min-width: #{$breakpoint-xl}) { .xl-flex-nowrap { flex-wrap: nowrap !important; } }
