
// *** Colors ***
$color-base-black: #000;
$color-base-white: #FFF;
$color-mix-minor: 20%;
$color-mix-major: 50%;
$color-palette: (
    'red': #B02121,
    'yellow': #FFBE1A,
    'green': #1E852F,
    'blue': #344152,
    'gray': #B3BBBC
);


// *** Color Functions ***
@function get-color($color-name) {
    $color: map-get($color-palette, $color-name);

    @return $color;
}

@function color-light($color) {
    $base-color: get-color($color);
    $finished-color: mix($color-base-white, $base-color, $color-mix-minor);

    @return $finished-color;
}

@function color-lighter($color) {
    $base-color: get-color($color);
    $finished-color: mix($color-base-white, $base-color, $color-mix-major);

    @return $finished-color;
}

@function color-dark($color) {
    $base-color: get-color($color);
    $finished-color: mix($color-base-black, $base-color, $color-mix-minor);

    @return $finished-color;
}

@function color-darker($color) {
    $base-color: get-color($color);
    $finished-color: mix($color-base-black, $base-color, $color-mix-major);

    @return $finished-color;
}
