
// *** Type Defaults ***
$base-line-height: 1.5;

$heading-font-weight: bold;
$heading-line-height: 1.25;
$h1: 2rem;
$h2: 1.5rem;
$h3: 1.17rem;
$h4: 1.12rem;
$h5: .83rem;
$h6: .75rem;
$heading-margin-top: 0.67em;
$heading-margin-bottom: 0.67em;
