
// Alignment
.left { text-align: left; }
@media (min-width: #{$breakpoint-sm}) { .sm-left { text-align: left; } }
@media (min-width: #{$breakpoint-md}) { .md-left { text-align: left; } }
@media (min-width: #{$breakpoint-lg}) { .lg-left { text-align: left; } }
@media (min-width: #{$breakpoint-xl}) { .xl-left { text-align: left; } }

.right { text-align: right; }
@media (min-width: #{$breakpoint-sm}) { .sm-right { text-align: right; } }
@media (min-width: #{$breakpoint-md}) { .md-right { text-align: right; } }
@media (min-width: #{$breakpoint-lg}) { .lg-right { text-align: right; } }
@media (min-width: #{$breakpoint-xl}) { .xl-right { text-align: right; } }

.center { text-align: center; }
@media (min-width: #{$breakpoint-sm}) { .sm-center { text-align: center; } }
@media (min-width: #{$breakpoint-md}) { .md-center { text-align: center; } }
@media (min-width: #{$breakpoint-lg}) { .lg-center { text-align: center; } }
@media (min-width: #{$breakpoint-xl}) { .xl-center { text-align: center; } }

.v-middle { vertical-align: middle; }
@media (min-width: #{$breakpoint-sm}) { .sm-v-middle { vertical-align: middle; } }
@media (min-width: #{$breakpoint-md}) { .md-v-middle { vertical-align: middle; } }
@media (min-width: #{$breakpoint-lg}) { .lg-v-middle { vertical-align: middle; } }
@media (min-width: #{$breakpoint-xl}) { .xl-v-middle { vertical-align: middle; } }
