
// Decoration
.italic    		 	 { font-style: italic; }
.hover-italic    	 { &:hover { font-style: italic; } }
.underline 		 	 { text-decoration: underline; }
.hover-underline 	 { &:hover { text-decoration: underline; } }
.caps      		 	 { text-transform: uppercase; }
.hover-caps      	 { &:hover { text-transform: uppercase; } }
.no-decoration	 	 { text-decoration: none; }
.no-hover-decoration { &:hover { text-decoration: none; } }
