
@media (min-width: #{$breakpoint-md}) {
	.md-col {
		float: left;
	}

	.md-col-right {
		float: right;
	}
	@for $i from 1 through $grid-columns {
		.md-col-#{$i} {
			width: ($i / $grid-columns * 100%);
		}
	}
}
