
@media (min-width: #{$breakpoint-sm}) {
	.sm-col {
		float: left;
	}

	.sm-col-right {
		float: right;
	}
	@for $i from 1 through $grid-columns {
		.sm-col-#{$i} {
			width: ($i / $grid-columns * 100%);
		}
	}
}
