
@media (min-width: #{$breakpoint-xl}) {
	.xl-col {
		float: left;
	}

	.xl-col-right {
		float: right;
	}
	@for $i from 1 through $grid-columns {
		.xl-col-#{$i} {
			width: ($i / $grid-columns * 100%);
		}
	}
}
