
// Heavy borders
.border-heavy {
	border-style: $border-style;
	border-width: $border-heavy-width;
}

.border-heavy-top {
	border-top-style: $border-style;
	border-top-width: $border-heavy-width;
}

.border-heavy-right {
	border-right-style: $border-style;
	border-right-width: $border-heavy-width;
}

.border-heavy-bottom {
	border-bottom-style: $border-style;
	border-bottom-width: $border-heavy-width;
}

.border-heavy-left {
	border-left-style: $border-style;
	border-left-width: $border-heavy-width;
}
