
// Borders
.border {
    border-style: $border-style;
    border-width: $border-width;
}
.border-top {
    border-top-style: $border-style;
    border-top-width: $border-width;
}
.border-right {
    border-right-style: $border-style;
    border-right-width: $border-width;
}
.border-bottom {
    border-bottom-style: $border-style;
    border-bottom-width: $border-width;
}
.border-left {
    border-left-style: $border-style;
    border-left-width: $border-width;
}

// No borders. At all. Whatsoever.
.border-none { border: 0 }
