
@each $color, $value in $color-palette {
	.bg-#{$color}-lighter { background-color: color-lighter($color); }
	.bg-#{$color}-light { background-color: color-light($color); }
	.bg-#{$color}-dark { background-color: color-dark($color); }
	.bg-#{$color}-darker { background-color: color-darker($color); }

	.hover-bg-#{$color}-lighter { &:hover { background-color: color-lighter($color); } }
	.hover-bg-#{$color}-light { &:hover { background-color: color-light($color); } }
	.hover-bg-#{$color}-dark { &:hover { background-color: color-dark($color); } }
	.hover-bg-#{$color}-darker { &:hover { background-color: color-darker($color); } }
}
