
// Normal borders
.border {
	border-style: $border-style !important;
	border-width: $border-width !important;
}

.border-top {
	border-top-style: $border-style !important;
	border-top-width: $border-width !important;
}

.border-right {
	border-right-style: $border-style !important;
	border-right-width: $border-width !important;
}

.border-bottom {
	border-bottom-style: $border-style !important;
	border-bottom-width: $border-width !important;
}

.border-left {
	border-left-style: $border-style !important;
	border-left-width: $border-width !important;
}


// Heavy borders
.border-heavy {
	border-style: $border-style !important;
	border-width: $border-heavy-width !important;
}

.border-heavy-top {
	border-top-style: $border-style !important;
	border-top-width: $border-heavy-width !important;
}

.border-heavy-right {
	border-right-style: $border-style !important;
	border-right-width: $border-heavy-width !important;
}

.border-heavy-bottom {
	border-bottom-style: $border-style !important;
	border-bottom-width: $border-heavy-width !important;
}

.border-heavy-left {
	border-left-style: $border-style !important;
	border-left-width: $border-heavy-width !important;
}


// No borders. At all. Whatsoever.
.border-none { border: 0 !important; }


// Real borders have curves
.rounded { border-radius: $border-radius !important; }
.rounder { border-radius: ($border-radius * 2) !important; }
.round { border-radius: 50%; }
.unrounded { border-radius: 0; }
