
$whitespace-types: (
	margin: m,
	padding: p
);

$sides: (
	'': '',
	-top: t,
	-right: r,
	-bottom: b,
	-left: l
);

@each $space, $size in $spacing {
	@each $type, $ref in $whitespace-types {
		@each $side, $abbr in $sides {
			.#{$ref}#{$abbr}#{$space} { #{$type}#{$side}: $size !important; }
		}

		.#{$ref}x#{$space} {
			#{$type}-left: $size !important;
			#{$type}-right: $size !important;
		}

		.#{$ref}y#{$space} {
			#{$type}-bottom: $size !important;
			#{$type}-top: $size !important;
		}
	}
}
